<!DOCTYPE html>
<html lang="">
<head>
    <title>File List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Files</h2>
    <ul>
        {% for file in files %}
            <li>
                {{ file.title }} - Uploaded by {{ file.owner }} on {{ file.uploaded_at }}
                <!-- Add a download link -->
                <a href="{% url 'download_file' file.id %}" class="btn btn-primary">Download</a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
