<!DOCTYPE html>
<html lang="">
<head>
    <title>User Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Dashboard</h1>
    <a href="{% url 'view_profile' %}">View Profile</a>
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <h2>Your Tasks</h2>
    <a href="{% url 'task_create' %}?next=dashboard">Add New Task</a>
    <ul>
        {% for task in user_tasks %}
            <li>{{ task.title }} - {{ task.status }}
                <a href="{% url 'task_update' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks found</li>
        {% endfor %}
    </ul>

    <h2>Your Files</h2>
    <ul>
        {% for file in user_files %}
            <li>
                {{ file.title }}
                <!-- View/Download Link -->
                <a href="{{ file.file.url }}" target="_blank">View</a> |
                <a href="{% url 'download_file' file.id %}">Download</a>
            </li>
        {% empty %}
            <li>No files found</li>
        {% endfor %}
    </ul>

    <h2>Your Messages</h2>
    <ul>
        {% for message in user_messages %}
            <li>
                From: {{ message.sender.username }} - {{ message.subject }}
                <p>{{ message.message|truncatechars:50 }}</p>  <!-- Show a preview of the message -->
            </li>
        {% empty %}
            <li>No messages found</li>
        {% endfor %}
    </ul>


</div>
</body>
</html>
